@font-face {
    font-family:"GoT-font";
    src: url(../font/Game_of_Thrones.ttf);
}
body{
    background: url(../images/GoT-Kings-Landing-Wallpaper1.jpg) no-repeat center fixed;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #f4b87c;
}
.container{
    margin-top: 10px;
}
.jumbotron{
    border: 2px solid black;
}
h5, h6{
    text-align: center;
    font-family: GoT-font;
}
#title{
    margin-bottom: -10px;
}
#banner{
    border: 2px solid black;
    background-color: #7b906f;
    margin-bottom: 20px;
}
#logo{
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
#current-station, #current-time{
    text-align: center;
    color: #7b906f;
    font-weight: bold;
    font-size: 18px;
}
#current-train-container, #add-train-container{
    border: 2px solid black;
}
#current-train, #add-train{
    border-bottom: 2px solid black;
    background-color: #7b906f;
    font-family: GoT-font;
}
.carousel-image{
    border: 2px solid black;
}
.carousel-caption{
    color:red;
    position: relative;
    left: auto;
    right: auto;
    margin-top: 15px;
}
footer {
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 14px;
    clear: both;
    overflow: auto;
    background:black;
    color: #b5985a;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 4px solid #7b906f;
    /* to make a sticky footer */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.footer > a{
    margin-left: 2px;
    margin-right: 2px;
    color: #7b906f;
}

/* Medium devices (landscape tablet, 1080px) */
@media only screen and (max-width: 992px) {
    body{
        background-image: url('../images/GoT-Kings-Landing-Wallpaper2.jpg');
        background-attachment: fixed;
        background-position: top;
        background-repeat: no-repeat;
        background-color: #f4b87c;
    }
  } 

/* Small devices (landscape phone, 700px) */
@media only screen and (max-width: 700px) {
    body{
        background-image: url('../images/GoT-Kings-Landing-Wallpaper3.jpg');
        background-attachment: fixed;
        background-position: top;
        background-repeat: no-repeat;
        background-color: #f4b87c;
    }
  } 
  
/* Small devices (portrait phone, 520px) */
@media only screen and (max-width: 400px) {
    body{
        background-image: url('../images/GoT-Kings-Landing-Wallpaper4.jpeg');
        background-attachment: fixed;
        background-position: top;
        background-repeat: no-repeat;
        background-color: #f4b87c;
    }
    #current-station, #current-time{
        text-align: center;
        color: #7b906f;
        font-weight: bold;
        font-size: 14px;
    }
    #schedule-display{
        font-size: 11px;
    }
    h5, h6{
        font-size: 12px;
    }
  } 